<section th:fragment="input_texto (descricao, texto, atributo)" xmlns:th="http://www.thymeleaf.org">

  <label th:for="${atributo}" th:text="${texto}" class="block font-medium mb-2 mt-6">default</label>
  <div class="relative">
    <input type="text" th:field="*{__${atributo}__}" th:placeholder="${descricao}" class="border-2 block w-full px-4 py-3 text-[#666666] disabled:opacity-50 disabled:pointer-events-none" th:classappend="${#fields.hasErrors('__${atributo}__') ? ' border-red-300 rounded-lg focus:border-red-500 focus:ring-red-500' : ' border-gray-300 rounded-lg focus:border-gray-500 focus:ring-gray-500'}">

    <div th:if="${#fields.hasErrors('__${atributo}__')}" class="absolute inset-y-0 right-0 flex items-center pe-3 pointer-events-none">
      <svg class="shrink-0 size-4 text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" x2="12" y1="8" y2="12"></line>
        <line x1="12" x2="12.01" y1="16" y2="16"></line>
      </svg>
    </div>
  </div>
  <div class="h-6">
    <span th:if="${#fields.hasErrors('__${atributo}__')}" th:each="erro : ${#fields.errors('__${atributo}__')}" th:text="${erro} + '. '" class="text-sm text-red-600 mt-2"></span>
  </div>
</section>


<section th:fragment="input_textArea (descricao, texto, atributo)" xmlns:th="http://www.thymeleaf.org">

  <label th:for="${atributo}" th:text="${texto}" class="block font-medium mb-2 mt-6">default</label>
  <div class="relative">
    <textarea rows="4" cols="50" th:field="*{__${atributo}__}" th:placeholder="${descricao}" class="border-2 block w-full px-4 py-3 text-[#666666] disabled:opacity-50 disabled:pointer-events-none" th:classappend="${#fields.hasErrors('__${atributo}__') ? ' border-red-300 rounded-lg focus:border-red-500 focus:ring-red-500' : ' border-gray-300 rounded-lg focus:border-gray-500 focus:ring-gray-500'}"></textarea>

    <div th:if="${#fields.hasErrors('__${atributo}__')}" class="absolute inset-y-0 right-0 flex items-center pe-3 pointer-events-none">
      <svg class="shrink-0 size-4 text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" x2="12" y1="8" y2="12"></line>
        <line x1="12" x2="12.01" y1="16" y2="16"></line>
      </svg>
    </div>
  </div>
  <div class="h-6">
    <span th:if="${#fields.hasErrors('__${atributo}__')}" th:each="erro : ${#fields.errors('__${atributo}__')}" th:text="${erro} + '. '" class="text-sm text-red-600 mt-2"></span>
  </div>
</section>


<section th:fragment="input_numero (texto, atributo)" xmlns:th="http://www.thymeleaf.org">

  <label th:for="${atributo}" th:text="${texto}" class="block font-medium mb-2 mt-6">default</label>
  <div class="relative">
    <input type="number" th:field="*{__${atributo}__}" class="border-2 block w-full px-4 py-3 text-[#666666] disabled:opacity-50 disabled:pointer-events-none" th:classappend="${#fields.hasErrors('__${atributo}__') ? ' border-red-300 rounded-lg focus:border-red-500 focus:ring-red-500' : ' border-gray-300 rounded-lg focus:border-gray-500 focus:ring-gray-500'}">

    <div th:if="${#fields.hasErrors('__${atributo}__')}" class="absolute inset-y-0 right-0 flex items-center pe-3 pointer-events-none">
      <svg class="shrink-0 size-4 text-red-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" x2="12" y1="8" y2="12"></line>
        <line x1="12" x2="12.01" y1="16" y2="16"></line>
      </svg>
    </div>
  </div>
  <div class="h-6">
    <span th:if="${#fields.hasErrors('__${atributo}__')}" th:each="erro : ${#fields.errors('__${atributo}__')}" th:text="${erro} + '. '" class="text-sm text-red-600 mt-2"></span>
  </div>
</section>


<section th:fragment="input_data (texto, atributo, dataAtual)" xmlns:th="http://www.thymeleaf.org">

  <label th:for="${atributo}" th:text="${texto}" class="block font-medium mb-2 mt-6">default</label>
  <div class="relative">
    <input type="date" th:min="${dataAtual}" id="data_futura" th:field="*{__${atributo}__}" class="border-2 block w-full px-4 py-3 text-[#666666] disabled:opacity-50 disabled:pointer-events-none" th:classappend="${#fields.hasErrors('__${atributo}__') ? ' border-red-300 rounded-lg focus:border-red-500 focus:ring-red-500' : ' border-gray-300 rounded-lg focus:border-gray-500 focus:ring-gray-500'}">
  </div>
  <div class="h-6">
    <span th:if="${#fields.hasErrors('__${atributo}__')}" th:each="erro : ${#fields.errors('__${atributo}__')}" th:text="${erro} + '. '" class="text-sm text-red-600 mt-2"></span>
  </div>
</section>

<!-- Input para o select de entidades -->
<section th:fragment="input_select (texto, atributo, lista, campoExibicao)" xmlns:th="http://www.thymeleaf.org">
  <label th:for="${atributo}" th:text="${texto}" class="block font-medium mb-2 mt-6">default</label>

  <div class="relative">
    <select th:field="*{__${atributo}__}" class="border-2 block w-full px-4 py-3 text-[#666666] disabled:opacity-50 disabled:pointer-events-none" th:classappend="${#fields.hasErrors('__${atributo}__') ? ' border-red-300 rounded-lg focus:border-red-500 focus:ring-red-500' : ' border-gray-300 rounded-lg focus:border-gray-500 focus:ring-gray-500'}">

      <option value="" selected>Selecione uma opção</option>

      <option th:each="item : ${lista}" th:value="${item.id}" th:text="${item[campoExibicao]}"></option>
    </select>
  </div>

  <div class="h-6">
    <span th:if="${#fields.hasErrors('__${atributo}__')}" th:each="erro : ${#fields.errors('__${atributo}__')}" th:text="${erro} + '. '" class="text-sm text-red-600 mt-2"></span>
  </div>
</section>


<!-- Input para o select de Enums -->
<section th:fragment="input_resultado (texto, atributo, lista)" xmlns:th="http://www.thymeleaf.org">
  <label th:for="${atributo}" th:text="${texto}" class="block font-medium mb-2 mt-6">default</label>

  <div class="relative">
    <select th:field="*{__${atributo}__}" class="border-2 block w-full px-4 py-3 text-[#666666] disabled:opacity-50 disabled:pointer-events-none" th:classappend="${#fields.hasErrors('__${atributo}__') ? ' border-red-300 rounded-lg focus:border-red-500 focus:ring-red-500' : ' border-gray-300 rounded-lg focus:border-gray-500 focus:ring-gray-500'}">

      <option value="" selected>Selecione uma opção</option>

      <option th:each="item : ${lista}" th:value="${item}" th:text="${item.getDescricao()}"></option>
    </select>
  </div>

  <div class="h-6">
    <span th:if="${#fields.hasErrors('__${atributo}__')}" th:each="erro : ${#fields.errors('__${atributo}__')}" th:text="${erro} + '. '" class="text-sm text-red-600 mt-2"></span>
  </div>
</section>