<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Plenário Digital</title>
  <!-- Estilo do Projeto -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/output.css}">
  <!-- Fontes -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Headline:wght@200..700&display=swap" rel="stylesheet">

  <!-- Biblioteca htmx -->
  <script defer src="../../static/js/vendors/htmx/htmx.min.js" th:src="@{/js/vendors/htmx/htmx.min.js}"></script>
  <script defer src="../../static/js/vendors/htmx/htmx-ext-response-targets.min.js" th:src="@{/js/vendors/htmx/htmx-ext-response-targets.min.js}"></script>
  <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'>

</head>

<body hx-ext="response-targets" hx-target="#main" hx-target-5*="#main" hx-target-4*="#main">

  <section class="bg-[#EAEAEA]">
    <!-- Header -->

    <header th:replace="~{layout/fragments/header.html :: header}"></header>


    <main>
      <th:block layout:fragment="conteudo"></th:block>
    </main>

  </section>
</body>

</html>