<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Plenário Digital</title>

  <!-- Estilo do Projeto -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/output.css}">

  <!-- Fontes -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Header -->
  <header th:replace="~{layout/fragments/header.html :: header}"></header>

  <!-- Conteúdo Principal -->
  <main layout:fragment="conteudo"></main>
</body>

</html>