<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Partido</title>
</head>

<body>
  <!-- Conteúdo Principal do cadastro de partidos -->
  <main layout:fragment="conteudo" th:fragment="formulario" id="main">


    <section class="container mx-auto my-auto py-55 px-4 grid grid-cols-2 font-['Poppins',sans-serif]">
      <div class="flex items-center">
        <h1 class="text-8xl uppercase font-bold text-[#1C1C1C] ">Cadastrar partido</h1>
      </div>


      <div class="bg-[#FBF7F7] px-10 py-15 rounded-xl shadow-xl/30">
        <form th:hx-post="@{/partido/cadastro_partido}" th:object="${partido}">
          <div th:replace="~{layout/fragments/inputs_formulario :: input_texto ('Digite o nome do partido', 'Nome do partido', 'nome')}"></div>

          <div th:replace="~{layout/fragments/inputs_formulario :: input_texto ('Exemplo: PCDB', 'Sigla', 'sigla')}"></div>

          <div class="mt-6">
            <button type="submit" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-[#7B1832] text-[#FBF7F7] hover:bg-[#A54B64] focus:outline-none focus:bg-[#A54B64] disabled:opacity-50 disabled:pointer-events-none cursor-pointer"> Cadastrar</button>
          </div>
        </form>
      </div>
    </section>

  </main>
</body>

</html>